<div class='main-container content'>
  <ul class="application-list" id="new-signup">
    <span class="sub-titles">Tell us more about you!</span>
    <%= render 'form_profile', profile: @profile %>
  </div>
</div>
