<!-- Render cards with instance and their value -->


<div class="card-product">
  <div class="card-product-infos">
    <h2>Company</h2>
    <div class="details">
    <div class="application-details">
    <p>Job title</p>
    <p>Status</p>
    </div>
    <div class="interview-details">
    <p>Next interview</p>
    </div>
  </div>
  </div>
</div>


