body {
  background-color: #F0F5F8;
}

.job-application {
  padding: 20px;
}

.logo {
  image: asset-url('meditation.png')
}

.job-application h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.cards h1 {
  background-color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.job-application-show {
  display:flex;
  justify-content: space-around;
}


.cards {
  display: flex;
  justify-content: center;
}


.card-new-interview {
  background-color: white;
  min-height: 386px;
  min-width: 365px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-interview-history {
  background-color: white;
  margin: auto;
  min-height: 100px;
  max-width: 800px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-application {
  background-color: white;
  max-width: 500px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.title-heart-aligned{
  display:flex;
  justify-content: space-between;
}

p {
  background-color: white;
}

.interview-details p {
  text-align: right;
  //font-weight: bolder;
}

.date-attention {
  color: #0a7dba;
  font-weight: bold;
}

.title-heart-toggle {
  z-index: 5;
}
