h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.job-application-show {
  display:flex;
  justify-content: space-around;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card-interview {
  margin: auto;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-application {
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
