body {
  background-color: #F7F4FC;
}

.job-application {
  .application-list {

    margin: 10px auto;

    .sub-titles {
      border-top: 1px solid #f1f1f1;
    }

    h1 {
      padding: 30px 0 30px 30px;
      display: block;
      text-align: left;
      margin-bottom: 0;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a:not(:first-of-type) {
        margin-left: 16px;
      }

      a:hover {
        .far {
          color: #8096e5;
        }
      }

      .far, .fas {
        color: #8096e5;
      }
    }

    .application-section {
      padding: 30px 30px 30px;

      p {
        font-size: 14px;
      }

      .application-details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 30px;
        margin-bottom: 12px;

        .details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 170px;
          font-size: 14px;
          padding-bottom: 20px;

          i {
            font-size: 14px;
            margin-bottom: 8px;
            text-transform: uppercase;
            font-style: normal;
            color: #8096e5;
          }
        }
      }

      #dropdown-status {
        margin: 0;
      }

      .impression {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-style: normal;
        color: #8096e5;
        padding-bottom: 8px;
      }

      .impression-content {
        font-size: 14px;
      }
    }
  }
}

.name-drop {
  display: grid;
  grid-template-columns: 67% 33%;
  grid-gap: 10px;

}

.form-spacer-top-middle {
  text-align: center;
}

.logo {
  image: asset-url('meditation.png')
}

.job-application h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.cards h1 {
  background-color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.job-application-show {
  display:flex;
  justify-content: space-around;
}


.cards {
  display: flex;
  justify-content: center;
}


.card-new-interview {
  background-color: white;
  min-height: 386px;
  min-width: 365px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-interview-history {
  text-align: center;
  background-color: white;
  margin: auto;
  min-height: 100px;
  max-width: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-application {
  background-color: white;
  max-width: 500px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.button-holder {
  margin-top: 5px;
  text-align: center;
}

.title-heart-aligned{
  display:flex;
  justify-content: space-between;
}

p {
  background-color: white;
}

.interview-details p {
  text-align: right;
  //font-weight: bolder;
}

.date-attention {
  color: #0a7dba;
  font-weight: bold;
}

.title-heart-toggle {
  z-index: 5;
}

.application-action {
        height: 30px;
        padding: 5px 16px;
        background: #8096e5;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        margin-left: 12px;
        border-radius: 4px;

        &:hover {
          text-decoration: none;
          color: white;
          background: #6d80c4;
        }
      }
