// // Specific CSS for your home-page
.banner {
  background-image: url("https://source.unsplash.com/RYyr-k3Ysqg/1600x900");
  // background-image: url("https://source.unsplash.com/1000x500/?office,work");
  background-size: cover;
  color: #000000  ;
  padding: 60px 0;
}
.banner h1 {
  font-size: 38px;
  padding-left: 120px;
}
#banner-h2-1 {
  padding-left: 120px;
}

// .banner h2 {
//  padding-left: 120px;
// }

.container-1 {
  width: 700px;
  margin: 50px auto;
  padding-left: 120px;
}

.container-2 {
  width: 700px;
  margin: 50px auto;
  line-height: 35px;
  padding-left: 240px;
}

// .container-2 p {
//   font-size: 20px;
//   font-style: italic;
//   font-weight: lighter;
//   opacity: 0.8;
//   padding-left: 120px;
// }

.ul {
  padding-left: 120px;
  // line-height: 35px;
}

// #description-h2 {
//   padding-left: 120px;
// }

/* Media queries */
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}

/* The sidebar menu */


/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
