// // Specific CSS for your home-page
.banner {
  background-image: asset-url("homepage-banner_edit.png");
  background-position: top;
  background-size: cover;
  color: #000000  ;
  padding: 0px 0;
  min-height: 260px;

  .sign-in-button {
    display: flex;
    justify-content: flex-end;
  }
}

.container-logo-h1 {
    display: flex;
    justify-content: center;
  }

.banner h1 {
  font-size: 38px;
  color: #0B7DBA;
  text-shadow: 1px 1px 1px #000;
}
#banner-h2-1 {
  color: #0B7DBA;
  text-shadow: 1px 1px 1px #000;
}

#description-h2 {
  color: #0B7DBA;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#what-is-oja {
  color: #0B7DBA;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#oja-description  {
  font-size: 20px;
  background-color: #F0F5F8;
  max-width: 700px;
  margin: auto;
  text-align: center;
  line-height: 35px;
}

#aim {
  font-size: 30px;
  background-color: #F0F5F8;
  max-width: 700px;
  margin: auto;
  text-align: center;
  line-height: 50px;
}
// .banner h2 {
//  padding-left: 120px;
// }


.container-2 {
  width: 700px;
  margin: 50px auto;
  line-height: 35px;
}

// .container-2 p {
//   font-size: 20px;
//   font-style: italic;
//   font-weight: lighter;
//   opacity: 0.8;
//   padding-left: 120px;
// }

.ul {
  padding-left: 120px;
  // line-height: 35px;
}

/* Media queries */
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}

.white-card {
  margin-top: 50px;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 10px auto;
  justify-items: center;
}

.info-container img {
  max-width: 300px;
  height: 200px;
  border-radius: 4px;
  margin-bottom: 16px;
}


.info-card p {
  background-color: #F0F5F8;
  max-width: 300px;
  text-align: center;

}

footer {
  color: white;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  max-height: 50px;
  background-color: #0c8ace;
  opacity: 0.8;
}


/* The sidebar menu */


/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  font-style: 'lato';
  text-decoration: none;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #60646b;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
