<div class='main-container content'>
  <ul class="application-list">
    <span class="sub-titles">Edit interview</span>
    <div style="padding: 30px;">
      <%= render 'form', job_application: @job_application %>
    </div>
  </div>
</div>
