<div class='main-container content'>
  <ul class="application-list">
    <span class="sub-titles">Your new interview</span>
    <%= render 'form', job_application: @job_application %>
  </div>
</div>
