

<div class='main-container'>
  <h1 class="text-center" style="background-color: #3d9ae2; padding: 40px;">Edit your application</h1>
  <div class="formular-container">
 <div class="profile-content-button">
    <%= image_tag("meditation.png", class: 'logo') %>
</div>
      <%= render 'form', job_application: @job_application %>
  </div>
</div>
