<div class='main-container content'>
  <ul class="application-list">
    <span class="sub-titles">Edit your application</span>
    <%= render 'edit_form', job_application: @job_application %>
  </div>
</div>
