<!-- <h1>Job #create</h1>
<p>Find me in app/views/tools/new.html.erb</p> -->
 <div class="profile-content-button">
    <%= image_tag("meditation.png", class: 'logo') %>
  </div>


<%= render 'form', job_application: @job_application %>
