
<div class='main-container'>
  <h1 class="text-center" style="background-color: #818181; padding: 40px;">Your new application</h1>
  <div class="formular-container">
      <%= render 'form', job_application: @job_application %>
      <div class="bild">
        <%= image_tag("meditation_job.png",height: '100', width: '100') %>
      </div>
  </div>
</div>

 <div class="profile-content-button">
    <%= image_tag("meditation.png", class: 'logo') %>
  </div>


<%= render 'form', job_application: @job_application %>

