<div class="sidenav">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>

  <a href="#profile">user_name</a>
  <a href="#"><i class="fas fa-home"></i> Home</a>
  <a href="#new_application"><i class="fas fa-plus"> New Application</i></a>
  <a href="#favorites"><i class="fas fa-heart"> Favorites</i></a>
</div>

