<div class="sidenav">
  <div class="text-center ">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
  <a href="#profile"><%= !current_user.profile.blank?  ? current_user.profile.first_name : "anonymous" %></a>
  </div>

  <div class="sidenav-text">

<!--   <a href="/"><i class="fas fa-home"></i> Home</a> -->
  <%= link_to root_path do %>

    <span><i class="fas fa-home"></i> Home</span>
  <% end %>

  <%= link_to new_job_application_path do  %>
    <i class="fas fa-plus"></i><span> New Application</span>
  <% end %>

  <%#= link_to "  New application",  new_job_application_path, class: "fas fa-plus" %>
  <a href="#favorites"><i class="fas fa-heart"></i> Favorites</a>
  </div>
</div>

