<!-- <div class="banner">
  <h1 class="banner-title"><strong>Application Tracker 💻</strong></h1>
</div>
 -->
<!-- <div>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div> -->


<div class="banner">
  <div class="container-1">
    <h1><strong>Application Tracker 💻</strong></h1>
    <h2 id="banner-h2-1">All your interviews under control</h2>
  </div>
</div>

<div class="white-card">
  <div class="container-2">
    <h2 id="description-h2">Why use Application Tracker</h2>
    <ul>
      <li>Stop struggling with applications/interviews tracking and management</li>
      <li>Have an interview tracker, to optimize your application from A to Z</li>
      <li>Have all your applications in one place</li>
      <li>Be well organised</li>
      <li>Make your mother proud</li>
    </ul>
  </div>
</div>


