<div class="home">
  <%= image_tag 'meditation.png', class: 'sidenav-logo'%>
  <h1>OJA</h1>
  <span>Keep a track of all your job applications, easily.</span>
  <p>OJA (Optimized Job Applications) is your personal job application tracker. Here to help you through the job application process and management.</p>
  <%= link_to 'Start now', new_user_session_path %>
</div>
