.button a {

  margin: auto;
  border: solid, 1px;
  padding: 4px 4px 4px 4px;
  color: white;
  border-radius: 4px;
  background-color: #0B7DBA;
}

.button a:hover {
  text-decoration: none;
  background-color: #199ee5;
}
