.card-link {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }

.card-product {
  width: 800px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 15px;
  border-radius: 4px;
}

.card-product-infos {
  background-color: white;
  overflow: hidden;
  height: 120px;
  background: white;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.interview-details {
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#company_name {
  color: #0B7DBA;
  font-size: 20px;
}

#call-to-action {
  color: #0B7DBA;
  font-weight: bold;
  opacity: 1;
}
