.application-list {
  padding: 0;
  margin: 40px auto;
  max-width: 866px;
  background-color: white;
  border-radius: 20px;

  span.sub-titles {
    display: block;
    padding: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #f1f1f1;
  }

  .application {
    display: flex;
    align-items: center;
    padding: 30px;

    span {
      width: 140px;
      font-size: 21px;
      font-family: $headers-font;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 170px;
      font-size: 14px;

      i {
        font-size: 12px;
        text-transform: uppercase;
        font-style: normal;
        color: #8096e5;
      }
    }

    .application-actions {
      display: flex;
      margin-left: 20px;

      .title-heart-toggle {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8096e5;
        border-radius: 4px;

        .far, .fas {
          color: #8096e5;
        }
      }

      .application-action {
        height: 30px;
        padding: 0 16px;
        background: #8096e5;
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        border-radius: 4px;
      }
    }
  }
}


.card-link {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }

.card-product {
  max-width: 700px;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-product-infos {
  background-color: white;
  overflow: hidden;
  height: 120px;
  background: white;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.interview-details {
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#company_name {
  color: #0B7DBA;
  font-size: 20px;
}

#call-to-action {
  font-weight: bold;
  opacity: .7;
}

.title-heart-aligned i {
  font-size: 18px;
  color: #0B7DBA;
}
