
.formular-container {
  width: 666px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eaeaea;
  padding-top: 5px;
  padding-bottom: 25px;
}

.main-container {
  margin: 0 auto;
}

.bild img {
  position: absolute;
  left: 685px;

}
