.formular-container {
  width: 666px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eaeaea;
  padding-top: 30px;
  padding-bottom: 25px;
}

.div-new-application {
  background-color: white;
}

.div-log-in-form {
  background-color: white;
}

.div-sign-in-form {
  background-color: white;
}

.text-center {
  margin-top: 15px;
  padding-top: 15px;
}

.main-container {
  margin: 0 auto;
}

.bild img {
  position: absolute;
  left: 685px;
}

