.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 26px;
  height: 100vh;
  background: white;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);

  .sidenav-logo {
    align-self: center;
    width: 90px;
    height: 90px;
  }

  ul.sidenav-links {
    padding: 0;
    margin-top: -160px;
    width: 180px;
    list-style: none;

    li.sidenav-link {
      position: relative;
      border-bottom: 1px solid #f1f1f1;

      a {
        padding: 8px 0;
        margin: 8px 0;
        color: #C1C2CD;

        i {
          margin-right: 16px;
        }
      }
    }

    li.sidenav-link.active {
      a {
        color: black;
      }

      &:after {
        content: '';
        position: absolute;
        height: 50px;
        width: 3px;
        top: 0;
        right: -33px;
        background-color: #8097E5;
      }
    }
  }

  .logout {
    opacity: 0.3;

    a {
      padding: 0;

      i {
        margin-right: 16px;
      }
    }
  }
}

.sidenav-text {
  font-family: 'lato';
  line-height: 60px;
  font-size: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  // font-size: 12px;
  color: #000000;
  display: block;
}

.sidenav a:hover {
  color: #60646b;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.inactive {
  padding:8px 0;;
  margin: 8px 0;
  display: block;
  color: #C1C2CD;
   i {
          margin-right: 16px;
        }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
