.tab-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav-item a {
  color: #8096e5;
  padding: 4px 15px 2px;
  font-weight: bold;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
    color: #788cd6;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
  color: white;
  background-color: #8096e5;
}


